.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section:last-child {
    margin-right: 0;
  }
  
  .footer-section h2 {
    font-size: 1.5rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 768px) {
    .footer-section {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    
    .social-icons {
      justify-content: center;
    }
  }
  