.UpdatePassword_cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .UpdatePassword_mid {
    margin-top: 20px;
  }
  
  .UpdatePassword_mid input[type="password"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .UpdatePassword_mid input[type="password"]:focus {
    border-color: #007bff;
  }
  
  .UpdatePassword_cnt button[type="submit"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
 .UpdatePassword_cnt button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  
  @media screen and (max-width: 768px) {
    .UpdatePassword_mid input[type="password"] {
      width: 80%;
    }
  
    button[type="submit"] {
      width: 80%;
    }
  }
  